*.ipynb
**/__pycache__/
nohup.out
data/meco/joint_data_trimmed.csv
data/ud_treebank/*
models/*
data/attentions/*
bash_scripts/*
misc/*
output*
attention_correlation_*
*across_layers*
scripts/attention_shift/attention_shift_layers.py